* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(135deg, #ffc800, #ff2600);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: auto; 
    max-width: 90%; 
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px; 
}


img {
    width: 100%;
    max-width: 360px;
    height: auto;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], .date {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

p {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(135deg, #ffc800, #ff2600);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #000000;
    
}

.selective, .education, .checkbox {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 20px;
   
}

.select-radio, .select-option,{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
}
.select-option select{
    height: 30px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.submit-botton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ffc800, #ff2600);
    color: #fff;
    border: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 15px;
        margin: 10px auto;
    }

    p {
        font-size: 14px; 
    }

    img, .media {
        width: 100%;
        height: auto;
        margin-top: 15px;
    }

    .selective, .education, .checkbox {
        flex-direction: column;
        margin-right: 10px;
        gap: 5px;
    }

    .submit-botton {
        font-size: 14px;
        cursor: pointer;
    }

    input[type="text"], input[type="email"], .date {
        padding: 6px;
        font-size: 12px;
    }
}
